#
# NAVIGATION
#

alias work='cd ~/Work'

alias oss='cd ~/Work/oss'

alias kab='cd ~/Work/kabisa'
alias kabi='cd ~/Work/kabisa/internal'

alias vvp='cd ~/Work/kabisa/viaviela/viaviela-portal'
alias vvw='cd ~/Work/kabisa/viaviela/viaviela-website'

alias mgl='cd ~/Work/kabisa/mgl'
alias eca='cd ~/Work/kabisa/mgl/mgl-eca'
alias ecaa='cd ~/Work/kabisa/mgl/mgl-eca-admin'

alias seacon='cd ~/Work/kabisa/seacon'
alias cas='cd ~/Work/kabisa/seacon/seacon-cas'

alias flux='cd ~/Work/kabisa/flux/flux'
alias fluxa='cd ~/Work/kabisa/flux/flux-admin'

alias bfnf='cd ~/Work/kabisa/bfnf'
alias bfnfmr='cd ~/Work/kabisa/bfnf/bfnf-mr'
alias bfnfw='cd ~/Work/kabisa/bfnf/bfnf-web'

alias dl='cd ~/Downloads'
